.aboutFrontPageContainer {
    width: 100%;
    height: 100vh;
    min-height: 1000px;
    position: relative;
}

.aboutFrontPage-title {
    position: absolute;
    font-size: 6.25rem;
    font-weight: 700;
    line-height: 6.146rem;
    color: var(--white-color);
    margin: 0;
    padding: 0;
}

.aboutFrontPage-title1 {
    left: 10.93%;
    top: 30.61%;
}

.aboutFrontPage-title2 {
    left: 50%;
    top: 55.95%;
}

.aboutFrontPage-title2::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    bottom: 1.9rem;
}

.aboutFrontPage-quoteContainer {
    position: absolute;
    left: 50.69%;
    top: 82.81%;
    width: 34.89%;
}

.aboutFrontPage-quote1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
    margin: 0;
    padding: 0;
    color: var(--white-color);
}

.aboutFrontPage-quote2 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.563rem;
    margin: 0;
    padding: 0;
    color: var(--white-color);
    margin-top: 40px;
    float: right;
}